@model Tax_Return_BD_System.Models.UserDocument
@{
    ViewBag.Title = "Create_Document";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<link href="~/assets/css/legendcss.css" rel="stylesheet" />
@using (Html.BeginForm("Create_Document", "UserInformation", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

<div role="tabpanel" class="tab-pane active" id="myDocs">

    <div class="row">
        <div class="col-lg-12 center my-document-profile">
          
        </div>
    </div>
    <br>
 
        <input type="hidden" name="user_id" value="35317">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">My Document</legend>
        <div class="row">
            <div class="col-lg-6 bs-common-example">
                <label>Year <span class="required">*</span></label>
                <input id="taxyearcode" name="Tax_Year" placeholder="Tax_Year" class="form-control" type="text" value="@ViewBag.Tax_Year" readonly="readonly">
            </div>
            <div class="col-lg-6 bs-common-example">
                <label>Document Name <span class="required">*</span></label>
                <input size="20" maxlength="255" class="form-control" required="required" name="DocumentName" id="MyDocuments_doc_name" type="text">
            </div>

            <div class="col-lg-6 bs-common-example note-height">
                <label>Remarks</label>
                <textarea maxlength="500" class="form-control" name="Notes" id="MyDocuments_notes"></textarea>
            </div>

            <div class="col-lg-6 bs-common-example dropzone">
               
                <img class="imgUserN" id="imgUser" name="imgUser" src="~/img/uploadimage.png">
                <input class="col-lg-12" type="file" name="file" multiple="multiple" required="required" id="uploadFile">
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 bs-common-example text-right">

                <button type="submit" class="btn btn-success" id="uploadBtn" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Uploading...">Upload</button>

            </div>
        </div>
       </fieldset>
        <hr>
        <div class="row">
            <div class="col-lg-12">
                <div class="payment-status-document bs-common-example">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>DocumentName</th>
                                <th>Remarks</th>
                                <th>Document</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
</div>
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.1.0/css/responsive.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#uploadBtn').on('click', function () {
            if ($("#MyDocuments_tax_year").val() != "" && $("#MyDocuments_doc_name").val() != "" && $("#uploadFile").val() != "") {
                var $this = $(this);
                $this.button('loading');
            }
            //$this.button('reset');
        });
        var Popup, dataTables;
        $(document).ready(function () {
            dataTables = $('#example').DataTable({
                "ajax": {
                    "url": "/UserInformation/GetData",
                    "type": "GET",
                    "datatype": "JSON"

                },

                "columns": [
                    { "data": "Tax_Year" },
                    { "data": "DocumentName" },
                    { "data": "Notes" },
                    { "data": "Document" },
                    {"data": "Id", "render": function (data) {
                        return "<a class='btn btn-default btn-sm' onclick=location.href='@Url.Action("GetEmailById", "UserInformation")/" + data + "'><i class='fa fa-pencil'></i> Edit</a><a class='btn btn-primary btn-sm'style='margin-left:5px'onclick=getfile("+ data +")><i class='fa fa-trash'></i> Send</a>"
                           
                                },
                                    "orderable": false,
                                    "searchable":false,
                                    "width":"150px"
                                }


                            ],


                             "language": {
                                 "emptyTable": "No data found, please click on <b>Add New</b> Button"
                            }
                        });
                    });



    });
       function getfile(id) {

                      

                            $.ajax({
                                type: "post",
                                url: '@Url.Action("GetEmailById", "UserInformation")/' + id,
                                success: function (data) {
                                    if (data.success) {

                                        dataTables.ajax.reload();

                                        $.notify(data.message, {
                                            globalPosition: "top center",
                                            className: "success"

                                        })


                                    }
                                }
                            });
                        
                    }

</script>

<script>
    function downloadPDF(CPIId) {
        var url = window.location.origin + "" + "/downloaded-pdf/download.php?year=" + $("#tax_year").val();
        window.open(url);
    }


</script>
<script type="text/javascript">

    $(document).ready(function () {
        var url = document.location.toString();
        if (url.match('#')) {
            $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
        } //add a suffix
    });


    function submitVoucherCode(id) {
        $('#loading').css('display', 'block');
        $("#showPaymentLink").html("");
        $.ajax({
            url: "https://bdtax.com.bd/index.php/Voucher/redeem",
            type: "POST",
            dataType: "json",
            cache: false,
            data: {
                'id': id,
                'code': $("#giftVoucherCode").val()
            },
            success: function (data) {
                if (data.status == "success") {
                    bootbox.alert(data.msg, function () {
                        location.reload(true);
                    });
                }
                else {
                    bootbox.alert(data.msg);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                bootbox.alert("Internal problem has been occurred. Please try again.");
                $('#loading').css('display', 'none');
            },
            complete: function () {
                $('#loading').css('display', 'none');
            }
        });
    }
</script>